/* Allgemeines */
.btn-group button {
    font-size: large;
    height: 45px;
    width: 20%;
    cursor: pointer;
    float: left;
    background-color: black;
    color: #2ECCFA;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid #2ECCFA;
    border-left: none;

    box-shadow: 10px 0 3px 4px #424242;
}
.btn-group button:hover {
    border-bottom: 5px solid #2ECCFA;
    color: #2ECCFA;
    border-right: 1px solid #2ECCFA;
    border-left: 1px solid #2ECCFA;
    border-top: none;
}
img.header{
    width: 100%;
    border-bottom: 2px solid #2ECCFA;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.footer{
    margin: 0;
    text-align: center;
    border-top: 2px solid #2ECCFA;
    background-color: black;

    box-shadow: 10px 0 3px 4px #424242;
}
.footerP{
    margin-right: 2em;
    margin-left: 2em;
}

article{
    margin: 2em 10%;
    text-align: justify;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
    color: #DDDDDD;
    background-color: #1C1C1C;
}
body.scroll{
    overflow: hidden;
}

h2{
    color: #2ECCFA;
    margin-top: 3em;
}

/* History */
img.level1{
    float:right;
    margin-right: 10%;
    border: 2px solid white;
}
img.level2{
    float:right;
    border: 2px solid white;
    margin-right: 20px;
}

/* Rules */
img.level {
    width: 10em;
    margin-right: 20px;
    border: 2px solid white;
}
img.ghosts {
    width: 5em;
    margin-right: 1em;
}
img.mode {
    margin-right: 2em;
    width: 2em;
    float: right;
}
img.changeTN {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

li {
    margin-bottom: 1em;
}
td {
    vertical-align: top;
}
td.changeFR {
    width: 70%;
}


.rules {
    border-radius: 1em;
    border: 2px solid #2ECCFA;
}

/* Change of Appearance */
.grid-container-COA-MissPacMan {
    display: grid;
    gap: 20px;
}
.gridCOA-MissPacMan-item1-img {
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 1;
    grid-column-end: 2;
}
.gridCOA-MissPacMan-item2-text {
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 2;
    grid-column-end: 3;

    transform: translateY(35px);
}

/* Animation Index */
#animationIndex {
    bottom: 150px;
    position: fixed;
    animation: runningPacMan 5s linear infinite;
}
@keyframes runningPacMan {
    0% {
        left: -100px;
    }
    100% {
        left: calc(100vw + 150px);
    }
}
#animationIndexGhost {
    bottom: 150px;
    left: -200px;
    position: fixed;
    animation: runningGhost 5s linear infinite;
    transform: translateX(-150px);
}
@keyframes runningGhost {
    0% {
        left: -150px;
    }
    100% {
        left: calc(100vw + 150px);
    }
}

/* Leonding Logo Footer */
#htlLeonding {
    width: 150px;
    transform: translate(55px);

}

/* About Us Fooer + Page */
#aboutUs {
    position: absolute;
    margin-top: 25px;
    transform: translate(-55px);
    background-color: black;
    color: #A4A4A4;
    font-size: small;
    cursor: pointer;
}

.aboutUs-HeaderLine {
    font-size: x-large;
    color: #2ECCFA;
    font-weight: bold;
}
#aboutUS-Pinky {
    width: 25px;
    transform: translateY(3px);
}
#aboutUs-Inky {
    width: 27px;
    transform: translateY(3px);
}
#aboutUs-Clyde {
    width: 27px;
    transform: translateY(3px);
}

/* Game - Singleplayer */
.grid-item1-gamePage { grid-area: usernameInput; }
.grid-item2-gamePage { grid-area: gamePage-text; }
.grid-item3-gamePage { grid-area: canvasSinglePlayer; }
.grid-item4-gamePage { grid-area: scores; }

.grid-container-GamePage {
    margin-top: 100px;
    margin-left: 30%;
    display: grid;
    grid-template-areas:
            'usernameInput scores'
            'gamePage-text scores'
            'canvasSinglePlayer scores';
}
.grid-container-GamePage > div{
    margin-bottom: 10px;
}

#scoresList {
    all: initial;
    color: #DDDDDD;
    border-spacing: 25px !important;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#scoresList th {
    color: #2ECCFA;
}

#usernameInput {
    background-color: #1C1C1C;
    color: white;

    border: none;
    border-bottom: 1px solid #2ECCFA;
}
#usernameInput:focus {
    color: white;

    outline:none;
    border: none;
    border-bottom: 1px solid #2ECCFA;
}

#popUp {
    display: none;
    position: fixed;
    transform: translateX(-50%) translateY(-100%);
    transition: all 0.4s ease-in-out;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #424242;
    opacity: 0.9;
    border-radius: 2px;

    padding: 20px 100px;
    border: 2px solid #585858;

    top: 0;
    z-index: 3;
    left: 50%;
}
#popUp h2 {
    margin-top: 20px;
    font-size: x-large;
    color: white;
    border-bottom: 2px solid #585858;
}
#popUp button {
    margin-top: 20px;
    background-color: #424242;
    opacity: 0.9;

    box-shadow: 0 5px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    margin-bottom: 10px;
    float: right;

    border-radius: 3px;
    border: 2px solid #585858;
    color: white;
}
#popUp button:focus {
    outline: none;
}
#popUp button:hover {
    transform: scale(1.05);
    transition: ease-in-out 50ms;
}
#bgDarkener {
    display: none;
    position: fixed;
    background-color: black;
    opacity: 0.3;

    z-index: 2;
    padding: 100vw 100vh;
}

#gameModes {
    color: #DDDDDD;
    background-color: #1C1C1C;
    border: none;
    transform: translateY(70px);
    margin-left: 50vw;
    margin-bottom: 50px;
}
#gameModes:focus {
    outline: none;
}

/* Game - online Multiplayer */
#gameModes-OnlineMultiplayer {
    color: #DDDDDD;
    background-color: #1C1C1C;
    border: none;
    transform: translateY(70px);
    margin-left: 50vw;
    margin-bottom: 50px;
}

.grid-item1-onlineMultiplayer { grid-area: text; }
.grid-item2-onlineMultiplayer { grid-area: canvas; }

.grid-container-onlineMultiplayer {
    margin-top: 100px;
    margin-left: 30%;
    display: grid;
    grid-template-areas:
            'text'
            'canvas';
}
.grid-container-onlineMultiplayer > div{
    margin-bottom: 10px;
}