body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0em;
}
.btn-group button {
    border-top: 8px double rgb(223, 50, 50);
    border-bottom: 8px double rgb(223, 50, 50);
    border-left: none;
    border-right: none;
    letter-spacing: 5px;
    background-color: black;
    color: rgb(212, 175, 52);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    height: 3em;
    width: 33%;
    cursor: pointer;
    float: left;
}

.btn-group button:hover{
    border: 8px double rgb(161, 225, 236);
    background-color: black;
    color: rgb(212, 175, 52);
    letter-spacing: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 3em;
    width: 33%;
    cursor: pointer;
    float: left;
}

.bg {
    background-color: black;
}

.bg2 {
    background: #fff;
    margin-left: 20%;
    margin-right: 20%;
}

p, h1, h2, table {
    margin-left: 20px;
    margin-right: 20px;
}

li {
    margin-bottom: 5px;
}

p.lastParagraf{
    margin-top: 100%;
}

article{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
    margin: 2em;
}

img.level {
    width: 10em;
    margin-right: 1em;
}

img.ghosts {
    width: 5em;
    margin-right: 1em;
}

img.header {
    margin: 1em;
    width: 97%;
}