.background {
    background: #fff;
     margin-left: 20%;
     margin-right: 20%;
}

    h1{
        margin-bottom: 100%;
    }

body{
    font-family:Arial, Helvetica, sans-serif;
}

.btn-group button {
    border-top: 8px double rgb(223, 50, 50);
    border-bottom: 8px double rgb(223, 50, 50);
    border-left: none;
    border-right: none;
    letter-spacing: 5px;
    background-color: black;
    color: rgb(212, 175, 52);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    height: 40px;
    width: 25%;
    cursor: pointer;
    float: left;
}

.btn-group button:hover{
    border: 8px double rgb(161, 225, 236);
    background-color: black;
    color: rgb(212, 175, 52);
    letter-spacing: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 40px;
    width: 25%;
    cursor: pointer;
    float: left;
}

.bg {
    background: black;
}

.bg2 {
    background: #fff;
    margin-left: 20%;
    margin-right: 20%;
    text-indent: 50px;
}
  