button{
    color:black;
    background-color: white;
    height: 40px;
    width: 30%;
}

#whiteRow {
    margin: 0;
    padding: 0;
    height: 40px;
    width: 100%;
    background-color:  rgb(228, 74, 74);
    }

    .background {
        background: #fff;
        margin-left: 20%;
        margin-right: 20%;
    }

    h1{
        margin-bottom: 100%;
    }